@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
}
@font-face {
   src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
   font-family: 'Open Sans';
   font-weight: 800; 
   font-style: normal;
}
body {
    margin: 0;
    background-color: #e0e0e0;
    font-family: sans-serif
}

.page_header {
    padding-top: 29px;
}
.page_header_grey {
    background-color: #e0e0e0;
}
.header {
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: black;
    width: 100%;
    max-width: 1249px;
    margin: 0 auto;
    min-height: 89px;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
    margin: 0;
}
.menu_item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 89px;
}
.menu_item:hover {
    background-color: #ff3f40;  
}

.menu_link {
    display: flex; 
    color: #e0e0e0;
    text-decoration: none; 
    text-transform: uppercase;
    align-items: center;
    padding: 0 30px; 
    font-weight: bold;
    font-size: 14px;
}
.page_intro_gray {
    background-color: #e0e0e0;
}
.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1wv;
}
.intro {
    padding-top: 103px;
    padding-bottom: 94px;
}
.intro-text {
    position: relative;
    bottom: 11px;
    width: 617px;
    margin-bottom: 20px;
    margin-right: 75px;
}
.intro_heading {
    margin: 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 18px;
    font-family: 'Open Sans' sans-serif;
    font-weight: 800;
    letter-spacing: 1.5px;
}
.intro_text {
    max-width: 520px;
    margin-bottom: 51px;
    opacity: 0.7;
}
p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.75;
}
.contact_link {
    box-sizing: border-box;
    font-family: 'Open Sans' sans-serif;
    display: inline-block;
    width: 227px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}
.contact_link_red {
    color: #ffffff;
    background-color: #ff2d2d;
}
.image {
    width: 551px;
    height: 356px;
    box-shadow: 0 -10px 40px 0 rgb(124, 124, 124);
}
.servises {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1wv;
    padding-top: 106px;
    padding-bottom: 53px;
    border-bottom: 1px solid #ececec;
}
.servises_lead {
    flex: 1 1 502px;
    max-width: 502px;
    margin-bottom: 50px;
    margin-right: 50px ;
}
.servises_heading {
    position: relative;
    bottom: 5px;
    margin-bottom: 27px;
}
.servises_text {
    margin-bottom: 51px;
}
.action_button {
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    display: inline-block;
    width: 227px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.action_button_white {
    font-size: 15px;
    color: #ff3f40;
    background-color: #ffffff;
    border: 2px solid #ff3f40;
}
.servises_blocks {
    flex: 1 1;
    display: flex;
    max-width: 609px;
    flex-wrap: wrap;
}
.service {
    flex: 1 1 288px;
    width: 288px;
    margin-bottom: 50px;
}
.service:nth-child(odd) {
    margin-right: 32px;
}
.service_heading {
    letter-spacing: 1.5px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}
.service_heading::before {
    display: block;
    width: 41px;
    height: 41px;
    margin-bottom: 23px;
}
.service_heading_manage::before {
    content: url('../images/service-1.png');
}

.service_heading_ux::before {
    content: url('../images/service-2.png');
}

.service_heading_brand::before {
    content: url('../images/service-3.png');
}

.service_heading_anim::before {
    content: url('../images/service-4.png');
}
.service_text {
    opacity: 0.7;
}
.feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 94px;
    padding-bottom: 52px
}

.feature__header {
    width: 100%;
    text-align: center;
    margin-bottom: 67px;
}

.feature__heading {
    padding-left: 14px;
    margin-bottom: 16px;
}

.feature__text {
    max-width: 500px;
    margin: 0 auto 30px;
    opacity: 0.7;
}

.products__filter {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}
.products__link {
    position: relative;
    left: 45px;
    color: #000;
    margin-right: 55px;
    font-size: 22px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.7;
}

.products__link_active {
    color: #ff2d2d;
    opacity: 1;
}
.products__link:hover {
    color: #ff2d2d;
}

.products {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    flex: 1 1 24%;
    min-width: 250px;
    max-width: 299px;
    height: 291px;
    margin-bottom: 18px;
    object-fit: cover;
}

.header__line {
    width: 122px;
    height: 3px;
    background-color: #ff2d2d;
    border: none;   
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 60px;
    padding-bottom: 110px;
}

.team__header {
    width: 100%;
    text-align: left;
    margin-bottom: 67px;
}

.team__heading {
    margin-bottom: 23px;
}

.team__text {
    max-width: 460px;
    margin-bottom: 30px;
}

.team__line {
    margin-left: 0;
}

.team__members {
    width: 100%;
    display: flex;
    align-items: stretch;
    align-content: space-between;
    min-height: 458px;
}

.team__selected-photo {
    flex-shrink: 0;
    width: 321px;
    height: 458px;
    margin-right: 65px;
    background-color: #eb6d4a8f;
    align-self: start;
}

.team__main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.team__selected-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: space-between;
    max-width: 642px;
    margin-top: -7px;
}
.team__selected-about {
    margin-bottom: 34px;
}

.team__selected-name {
    bottom: 5px;
    font-size: 30px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 16px;
}
.team__selected-link {
    color: #000;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-style: italic;
    text-decoration: none;
    margin-right: 30px;
} 

.team__selected-link:hover {
    text-decoration: underline;
}

.members {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.member {
    position: relative;
    margin-top: 18px;
}
.member:not(:last-child) {
    margin-right: 18px;
}

.member__name {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 37px;
    text-align: center;
    background-color: #000;
    opacity: 0.5;
}

.member:hover > .member__name {
    visibility: visible;
}

.member__photo {
    display: block;
    width: 197px;
    height: 214px;
    background-color: #d4dce680;
}
.subscribe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
}
.subscribe {
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: #2c2c2c;
    padding-top: 124px;
    padding-bottom: 140px;
}
.subscribe__header {
    max-width: 1249px;
    margin: 0 auto;
    text-align: center;
}

.subscribe__heading {
    color: #fff;
    opacity: 0.8;
    text-transform: none;
    margin-bottom: 30px;
}

.subscribe__text {
    color: #fff;
    opacity: 0.8;
    margin-bottom: 50px;
}

.subscribe__form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe__form .subscribe__input {
    color: #8e8e8e;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex: 0 1 521px;
    width: 521px;
    min-height: 79px;
    padding: 0;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
    border-radius: 5px;
    margin-right: 22px;
    background-color: #fff;
}

.subscribe__form .subscribe__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    width: 214px;
    min-height: 79px;
    background-color: #ff2d2d;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;

}

.subscribe__form .subscribe__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    width: 214px;
    min-height: 79px;
    background-color: #ff2d2d;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.feedback-contacts {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 92px;
    padding-bottom: 110px;
}

.feedback__header {
    box-sizing: border-box;
}

.feedback__heading {
    margin-bottom: 34px;
}

.feedback__text {
    max-width: 720px;
    margin-bottom: 50px;
}

.feedback__line {
    margin-left: 0;
    margin-bottom: 75px;
}

.feedback__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 731px;
    margin-right: 107px;
    padding-left: 0;
    padding-right: 0;
}

.feedback__left-box {
    flex: 1 1 auto;
}

.feedback__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feedback__input {
    color: #8e8e8e;
    box-sizing: border-box;
    padding-left: 54px;
    padding-right: 54px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;  
    margin-bottom: 45px;
}

.feedback__name,
.feedback__mail {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 339px;
    height: 69px;
    background-color: #f3f3f3;
}

.feedback__message {
    resize: none;
    font-size: 16px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    width: 721px;
    max-width: 731px;
    height: 252px;
    box-sizing: border-box;
    padding: 35px 54px;
    margin-bottom: 45px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;  
}

.feedback__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 731px;
    height: 72px;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    background-color: #ff2d2d;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
} 


.contacts {
    box-sizing: border-box;
    position: relative;
    color: #e0e0e0;
    background-color: #2c2c2c;
    box-sizing: border-box;
    padding: 125px 53px 125px 78px;
    min-height: 481px;
    max-width: 411px;
}

.contacts__heading {
    color: #e0e0e0;
    font-size: 18px;
    margin-bottom: 13px;
}

.contacts-address {
    line-height: 1.75;
}

.contacts__line {
    margin-bottom: 17px;
}

.feedback__right-box {
    min-height: 481px;
    flex: 1 1 auto;
}

.contacts__decor {
    background-color: #2c2c2c;
}

